<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Membership process successful!</h2>
        <p>By logging in, you can check orders from your profile.</p>
        <hr />
        <p>Thanks!</p>
    </div>
</div>