<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center"> 
        <h2>Sipariş başarılı bir şekidle tamamlandı.</h2>
        <p>Profilinizden siparişleri kontrol edebilirsiniz.</p>   
        <hr />
        <p>Teşekkürler!</p>
    </div>
</div>