body {
    background: url('https://www.pixelstalk.net/wp-content/uploads/2016/03/Backgorund-wallpaper-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rounded-card {
    border-radius: 25px;
    background-color: rgba(255, 255, 255);
    font-family: 'Comfortaa', cursive;
}

    .rounded-card img {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .rounded-card .card-header {
        border-radius: 25px;
        background-color: rgb(0, 36, 126);
    }

    .rounded-card .card-footer {
        border-radius: 25px;
    }

    .rounded-card .card-title {
        color: papayawhip;
    }
