
.navbar {
    background-color: rgb(230,231,231,0.8) !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: rgb(0,36,126) !important;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.navbar-custom-text {
    color: rgb(0,36,126) !important;
    font-size: 1.0em;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
